* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFC107;
    padding: 35px 20px;

    & .menuPrincipal {
    
        & nav {
            
            & ul {
                display: flex;
                list-style: none;

                & li {
                    font-size: 14px;
                    border-bottom: #000;

                    & a {
                        text-decoration: none;
                        color: #000;
                        margin: 0 10px;
                        font-weight: 500;
                        padding: 0px 20px 5px 0px;
                        position: relative;
                    }

                    & a::after {
                        content: " ";
                        width: 0%;
                        height: 2px;
                        border-radius: 5px;
                        background-color: #000;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: width 0.5s ease-in-out; 
                    }
                    
                    & a:hover::after {
                        width: 100%; 
                    }
                }
            }
        }
    }

    #tituloPrincipal {
        & h1 {
            font-size: 50px;
        }
    }

    .containerIcone {
        margin-right: 20px;
        & a {
            
            & img {
                width: 40px;
            }
        }
    }
}

main {
    .page {
        display: none;
        padding: 20px;
    }
    
    .page.active {
        display: block;
    }

    #home {
        .containerHome {
            padding: 10px;
            display: flex;
            flex-direction: row;

            & .tituloHome {
                padding: 10px;
                margin-top: 10%;
                margin-left: 70px;
                order: 2;
    
                & h1 {
                    text-align: left;
                    font-size: 40px;
                }
    
                & p {
                    text-align: left;
                    font-size: 20px;
                }
            }

            & .imgHome {
                width: 500px;
                height: 500px;
                border-radius: 9999px;
                background-color: #FFC107;
                margin-left: 20px;
                margin-top: 50px;
                order: 1;


                & #imagem {
                    width: 550px;
                    margin-left: 20px;
                }
            }
        }
    }

    .produtos-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .produtos-list .produto {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        background: #fff;
        text-align: center;
        width: 200px;
    }
    
    .produtos-list img {
        max-width: 100%;
        height: auto;
    }
    
    .produtos-list button {
        background: #FFC107;
        border: none;
        color: white;
        padding: 5px 10px;
        cursor: pointer;
    }
    
    .produtos-list button:hover {
        background: #d6a206;
    }
        
}

footer {
    text-align: center;
    padding: 10px;
}
